:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #f05555;
  --main-bg-color: #fff;
  --frame-color: #fff;
  --text-color: #000;
  --text-highlight-color: #f05555;

  /* --dark-main-color: #ffd524;
  --dark-main-bg-color: #161b27;
  --dark-frame-color: #23283c; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
}

#app {
  margin: 0 auto;
  max-height: 100vh;
  text-align: center;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
