.inner-header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 450px;
  background-color: var(--highlight-bg-color);
  z-index: 100;
}

.inner-header .title {
  padding: 50px 0 50px 30px;
  /* padding: 0 0 0 30px; */
  width: calc(100% - 30px);
  height: 60px;
  font-size: 2.2rem;
  /* font-size: 1.2rem; */
  font-weight: 800;
  line-height: 60px;
  text-align: left;
  color: var(--text-color);
}

.header-content {
  width: 100%;
  height: 35vh;
  position: relative;
}

.header-content .content-img {
  width: 80%;
  opacity: 0.7;
  border-radius: 50px;
  transform-origin: 50% 0;
}

.header-content .header-intro {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 10%;
  font-size: 1.1rem;
  font-weight: 600;
}

.inner-container {
  margin: 450px 0 50px 0;
  width: 100%;
  position: relative;
}

/* .inner-container .upper-rounding {
  width: 100%;
  height: 70px;
  position: absolute;
  top: -35px;
  left: 0;
  border-radius: 30px;
  background-color: var(--main-bg-color);
  z-index: 10000000000000000;
} */

.community-category .category-header {
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  text-align: left;
}

.community-category .category-header .category-title {
  padding-left: 30px;
  width: calc(80% - 30px);
  height: 50px;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 50px;
  color: var(--main-color);
  text-align: left;
  display: inline-block;
}

.community-category .category-header .more {
  width: 20%;
  height: 50px;
  line-height: 30px;
  font-size: 0.9rem;
  display: inline-block;
}

.community-category .category-intro {
  height: 30px;
  margin: 0 30px 30px 30px;
  /* padding: 0 30px; */
  text-align: left;
  position: relative;
  font-size: 1rem;
  line-height: 30px;
}

.community-category .category-carousel {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.community-category .category-carousel .carousel-container {
  margin-left: 10px;
  width: 875px;
  text-align: left;
}

.category-carousel .review-card {
  margin: 10px;
  width: 175px;
  height: 300px;
  background-color: var(--card-bg-color);
  border-radius: 25px;
  overflow: hidden;
  border: 0.5px solid var(--border-color);
  display: inline-block;
  text-align: left;
}

.category-carousel .review-card .image {
  position: relative;
}

.category-carousel .review-card .image .like {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.category-carousel .review-card .image .like .icon {
  color: var(--main-color);
}

.category-carousel .review-card .review-content {
  margin-top: 15px;
  padding: 0 10px;
}

.category-carousel .review-card .review-content > div {
  margin-bottom: 5px;
}

.category-carousel .review-card .review-content .wooju {
  font-size: 1.1rem;
  font-weight: 600;
}

.category-carousel .review-card .review-content .rate .star {
  color: #ffd524;
  margin-right: 5px;
}

.category-carousel .review-card .review-content .preview {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

.category-carousel .more-card {
  border: 0px solid #ddd;
  background-color: none;
}

.category-carousel .more-card .more-btn {
  margin: 100px 37.5px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 0.5px solid #ddd;
}

.category-carousel .more-card .more-btn span {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: block;
}