.hot-review-title {
  margin: 50px 0;
  padding-left: 30px;
  width: calc(100% - 30px);
  height: 80px;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 80px;
  text-align: left;
  color: var(--main-color);
}

.review-body {
  margin: 20px;
  padding: 20px 0;
  /* border: 1px solid #FFFAE8; */
  background-color: #fff;
  /* box-shadow: 0px 0px 8px rgba(151, 101, 13, 0.3); */
  border-radius: 23px;
}

.review-body .review-text {
  margin: 10px 0px 20px 0px;
    
}
.review-body .review-header {
  padding: 20px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review-body .review-header .profile-box {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 75px;
    height: 75px; 
    border-radius: 70%;
    overflow: hidden;
}

.review-body .review-header .profile {
  display: flex;
  margin: 0;
  align-content: flex-start;
}

.review-body .review-header .profile-box .profile-img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-body .review-header .review-writer {
    margin: 0;
    margin-left: 20px;
    flex-flow:column;
    text-align: left;
}

.review-writer .review-nickname {
  font-size: 1.1rem;
  font-weight: 600;
}

.review-writer .review-level {
  font-size: 0.7rem;
  font-weight: 200;
}

.review-body .review-header .review-date {
    width: 80px;
    height: 20px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-content {
  text-align: left;
  margin: 20px 20px 10px 20px;
}

.review-content > div {
  margin-bottom: 5px;
}

.review-content .wooju {
  font-size: 1.1rem;
  font-weight: 600;
}

.review-content .rate .star {
  color: #ffd524;
  margin-right: 5px;
}

.el-carousel__item h3 {
  color: #475669;
  opacity: 0.75;
  line-height: 150px;
  margin: 0;
  text-align: center;
}