.community-category {
  margin-bottom: 10px;
}

.community-category .category-header {
  margin-bottom: 5px;
  width: 100%;
  height: 50px;
  text-align: left;
}

.community-category .category-header .category-title {
  margin: 0;
  padding-left: 30px;
  width: calc(80% - 30px);
  height: 50px;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 50px;
  color: var(--text-highlight-color);
  text-align: left;
  display: inline-block;
}

.community-category .category-header .more {
  width: 20%;
  /* height: 50px; */
  /* line-height: 50px; */
  font-size: 0.9rem;
  display: inline-block;
}

.community-category .category-intro {
  height: 30px;
  margin: 0 30px 20px 30px;
  text-align: left;
  position: relative;
  font-size: 1rem;
  line-height: 30px;
  color: var(--text-sub-color);
}

.community-category .category-carousel {
  width: 100%;
  max-width: 664px;
  height: 350px;
  overflow: hidden;
}

.community-category .category-carousel .carousel-container {
  margin-left: 10px;
  width: 664px;
  text-align: left;
}

.category-carousel .review-card {
  margin: 1%;
  width: 150px;
  height: 270px;
  background-color: var(--card-bg-color);
  border-radius: 25px;
  box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, var(--shadow-percentage-03));
  overflow: hidden;
  display: inline-block;
  text-align: left;
}

.category-carousel .review-card .image {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.category-carousel .review-card .image img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
}

.category-carousel .review-card .image .like {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8rem;
}

.category-carousel .review-card .image .like .heart {
  color: tomato;
}

.category-carousel .review-card .card-content {
  padding: 5% 10px;
  height: 120px;
  font-size: 0.8rem;
}

.category-carousel .review-card .card-content > div {
  margin-bottom: 5px;
}

.category-carousel .review-card .card-content .wooju {
  font-size: 1rem;
  font-weight: 600;
}

.category-carousel .review-card .card-content .rate .star {
  color: #ffd524;
  margin-right: 5px;
}

.category-carousel .review-card .card-content .preview {
  display: block;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.1rem;
}

.category-carousel .more-card {
  border: 0px solid #ddd;
  background-color: transparent;
  position: relative;
}

.category-carousel .more-card .more-btn {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  border-radius: 100%;
  border: 0.5px solid #ddd;
  box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.04);
}

.category-carousel .more-card .more-btn span {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: block;
}

.review-body .image-carousel .review-detail-img {
  object-fit: cover;
  height: 90vw !important;
  max-height: 450px;
}