* {
  padding: 0;
  margin: 0 auto;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  color: rgb(var(--text-color));
  transition: background-color 0.55s ease, color 0.45s ease; 
}

img {
  max-width: 500px;
  width: 100%;
}

@media (min-width: 500px) {
  .app-container {
    width: 500px;
    /* height: 100%; */
    position: relative;

    /* position: absolute;
    top: 0;
    left: calc(50% - 250px); */
    box-shadow: 0 4px 4px rgb(0 23 80 / 1%), 0 1px 6px rgb(0 23 80 / 2%), 0 8px 8px rgb(0 23 80 / 1%), 0 16px 16px rgb(0 23 80 / 1%), 8px 32px 32px rgb(0 23 80 / 2%), 8px 64px 64px rgb(0 23 80 / 2%);
  }

  .header-container {
    width: 500px;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100000000;
  }

  .menu-container {
    width: 500px;
    height: 70px;
    position: fixed;
    bottom: 0;
    background-color: var(--main-bg-color);
    /* border-top: 1px solid #eee; */
    z-index: 100000000;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px -4px 6px 6px rgba(0, 0, 0, var(--shadow-percentage-04));
  }

  .tab-template,
  .tab-header,
  .header-content {
    width: 500px;
  }

  #tel {
    width: 500px;
    /* height: calc(100vh - 120px); */
    position: absolute;
    top: 0;
    transition: all 0.55s ease; 
    /* left: calc(50vw - 250px); */
  }
}

@media (max-width: 500px) {
  .app-container {
    width: 100vw;
    height: 100%;
    position: relative;
  }

  .header-container {
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  
  .menu-container {
    width: 100vw;
    height: 75px;
    position: fixed;
    bottom: 0;
    background-color: var(--main-bg-color);
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px -4px 6px 6px rgba(0, 0, 0, var(--shadow-percentage-04));
  }

  .tab-template,
  .tab-header,
  .header-content {
    width: 100%;
  }

  #tel {
    width: 100vw;
    /* height: calc(100vh - 120px);; */
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eef;
    display: none;
  }
}

.container {
  padding-bottom: 70px;
  position: relative;
  background-color: var(--main-bg-color);
  /* box-shadow: 0 4px 4px rgb(0 23 80 / 1%), 0 1px 6px rgb(0 23 80 / 2%), 0 8px 8px rgb(0 23 80 / 1%), 0 16px 16px rgb(0 23 80 / 1%), 8px 32px 32px rgb(0 23 80 / 2%), 8px 64px 64px rgb(0 23 80 / 2%); */
}


/* header */
.header-container {
  height: 60px;
  position: fixed;
  top: 0;
  background-color: var(--main-header-color);
  z-index: 100000000;
}

.header-container .logo {
  margin: 0 auto;
  width: 150px;
}

#mode-icon {
  color: var(--main-color);
  font-size: 1.4rem;
  line-height: 40px;
  color: var(--text-highlight-color);
}


/* menu */
.menu-container {
  height: 70px;
  position: fixed;
  bottom: 0;
  background-color: var(--menu-color);
  border-top: 1px solid var(--border-color);
  z-index: 100000000;
}

.menu-container .menu-div {
  padding-top: 10px;
  width: 15%;
  height: 60px;
  display: inline-block;
}

.menu-container .my-page .icon {
  font-size: 1.5rem;
  display: block;
  margin: 2px auto;
}

.menu-container .my-page .menu-title {
  font-size: 12px;
}

.menu-container .my-page .is-inactive {
  color: var(--menu-icon-color);
}

.menu-container .my-page .is-active {
  color: var(--text-highlight-color);
}

/* main tab */
.tab-template {
  background-color: var(--highlight-bg-color);
  padding-bottom: 40px;
  position: relative;
}

.tab-header {
  position: fixed;
  top: 0;
  height: 60px;
  background-color: var(--highlight-bg-color);
  z-index: 1000;
}

.tab-title {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 50px;
  left: 30px;
  font-size: 2.2rem;
  /* font-size: 1.2rem; */
  font-weight: 800;
  line-height: 60px;
  text-align: left;
  color: rgb(var(--text-color));
}

.header-content {
  height: 450px;
  position: fixed;
  top: 0;
  background-color: var(--highlight-bg-color);
}

.header-content .content-img {
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  opacity: 0.7;
  border-radius: 40px;
  transform-origin: 50% 0;
  box-shadow: 0px 4px 6px 6px rgba(0, 0, 0, 0.05)
}

.header-content .header-intro {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 40%;
  font-size: 1.1rem;
  font-weight: 600;
}

.inner-container {
  margin-top: 450px;
  width: 100%;
  position: relative;
  border-radius: 40px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--main-bg-color);
  box-shadow: 0px -4px 6px 6px rgba(0, 0, 0, 0.05);
}

.inner-section {
  padding: 35px 0 50px 0;
  position: relative; 
}

