.hot-review-title {
  margin: 50px 0 20px 0;
  padding-left: 30px;
  width: calc(100% - 30px);
  height: 80px;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 80px;
  text-align: left;
  color: var(--text-highlight-color);
}

.review-body {
  margin: 30px auto;
  padding: 10px 0;
  width: 90vw;
  max-width: 450px;
  background-color: var(--review-body-color);
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, var(--shadow-percentage-04));
  border-radius: 23px;
}

.review-body.first-review {
  margin-top: 40px;
}

.review-body .review-text {
  margin: 10px 0px 20px 0px;
  font-size: 0.9rem;    
}

.review-body .review-header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.el-carousel__container {
  height: 90vw !important;
  max-height: 450px;
}

.review-body .review-header .profile-box {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
}

.review-body .review-header .profile {
  display: flex;
  margin: 0;
  align-content: flex-start;
}

.review-body .review-header .profile-box .profile-img {
    
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-body .review-header .review-writer {
  margin: 0;
  margin-left: 10px;
  height: 50px;
  flex-flow:column;
  text-align: left;
}

.review-writer .review-nickname {
  font-size: 1.1rem;
  font-weight: 600;
  height: 25px;
  line-height: 25px;
}

.review-writer .review-gosu {
  height: 25px;
  line-height: 25px;
  font-size: 0.8rem;
}

.gosu {
  color: rgb(6, 155, 110);
}

.review-body .review-header .review-date {
  font-size: 0.7rem;
  width: 80px;
  height: 50px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-content {
  text-align: left;
  margin: 20px 20px 10px 20px;
}

.review-content > div {
  margin-bottom: 5px;
}

.review-content .wooju {
  font-size: 1.1rem;
  font-weight: 600;
}

.review-content .wooju .wooju-name {
  font-size: 0.9rem;
  font-weight: 200;
  color: #a4a4a4;
  height: 25px;
  line-height: 25px;
  display: inline-block;
}

.review-content .rate .wooju-star {
  font-size: 0.9rem;
  font-weight: 200;
  color: #a4a4a4;
}

.review-content .rate .star {
  color: #ffd524;
  margin-right: 5px;
}

.el-carousel__item h3 {
  color: #475669;
  opacity: 0.75;
  line-height: 150px;
  margin: 0;
  text-align: center;
}

.like {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.like .icon {
  color: tomato;
}

