.home-container {
  margin-top: 60px;
  padding-bottom: 150px;
  /* height: calc(100vh - 60px); */
  position: relative;
  background-color: var(--main-bg-color);
}

.mainhome-logo {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 150px;
}

.mainhome-logo img {
  margin: 0 auto;
  min-width: 150px;
  width: 250px;
}

.header-content .home-intro {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 65%;
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 1;
}

.mainhome-container .home-corner {
  margin-bottom: 100px;
}

.mainhome-container .home-corner .home-title {
  margin: 60px 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.mainhome-container .home-corner .corner-img-box   {
  margin-bottom: 20px;
  width: 80%;
  max-width: 400px;
}

.mainhome-container .home-corner .home-content {
  font-size: 0.9rem;
  line-height: 25px;
}

.mainhome-container .home-corner .not-surveyed {
  margin-top: 50px;
}

.mainhome-container .home-corner .home-content span {
  margin: 20px 0;
  display: block;
  font-size: 1.1rem;
  line-height: 30px;
  font-weight: 600;
}

.btn-box, 
.btn-box div,
.btn-box div span {
  color: #000;
}

.mainhome-container .home-corner .btn-box {
  margin-top: 40px;
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  line-height: 50px;
}

.mainhome-container .home-corner .btn-box .togo-btn {
  margin: 0 auto;
  width: 220px;
  height: 50px;
  line-height: 50px;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--main-color);
  box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, var(--shadow-percentage-03));
}

/* if user survey */
.home-corner .bottles {
  width: 100%;
  height: 200px;
  display: flex;
  font-size: 0.9rem;
}

.home-corner .bottles .bottle-card {
  width: 30vw;
  max-width: 150px;
  height: 50vw;
  max-height: 230px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--main-bg-color);
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, var(--shadow-percentage-04));
}

.home-corner .bottles .bottle-img {
  width: 30vw;
  max-width: 150px;
  height: 30vw;
  max-height: 150px;  
  background-color: #fff;
  /* box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, var(--shadow-percentage-03)); */
}

.home-corner .bottles .bottle-img img {
  width: 30vw;
  max-width: 150px;
  height: 30vw;
  max-height: 150px;  
  object-fit: cover;
  object-position: center;
  
}

.home-corner .bottles .bottle-content {
  padding: 5px 0;
  width: 28vw;
  max-width: 140px;
  height: calc(180px - 28vw);
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--card-transparent-color);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; 
}

.home-corner .bottles .bottle-title {
  font-weight: 600;
}
