.create-header {
  padding: 0 30px;
  display: flex;
}

.create-header .create-title {
  width: calc(100vw - 120px);
  max-width: 380px;
  height: 60px;
  text-align: left;
  color: var(--text-color);
  line-height: 60px;
  font-size: 1.3rem;
  font-weight: 600;
  
}

.create-header .submit {
  width: 60px;
  height: 60px;
  position: relative;
}

.create-header .submit .submit-btn {
  margin-top: 12px;
  width: 60px;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
}

.create-container {
  margin-top: 60px;
  height: calc(100vh - 60px);
  background-color: var(--main-bg-color);
}  

.create-container .create-input {
  padding-top: 30px;
}
.create-container .line {
  margin: 20px 20px 15px 20px;
  width: calc(100% - 40px);
  max-width: 460px;
  height: 1px;
  border-top: 1px solid #ddd;
}

.create-container .sool-name {
  width: calc(100vw - 60px);
  max-width: 440px;
  height: 25px;
  line-height: 25px;
  text-align: left;
  font-size: 1.1rem;
}

.create-container .sool-name span {
  font-weight: 600;
}

.create-container .sool-rate {
  width: calc(100vw - 60px);
  max-width: 440px;
  height: 25px;
  line-height: 25px;
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.el-rate .el-rate__icon.is-active {
  color: var(--el-rate-fill-color) !important;
}

.el-icon {
  color: var(--color) !important;
}

.create-container .thumbnail-box {
  margin: 0 30px;
  display: flex;
}

.create-container .thumbnail-box .thumbnail {
  width: 25vw;
  max-width: 125px;
  height: 25vw;
  max-height: 125px;
  border: 1px solid #ddd;
  position: relative;
  overflow: hidden;
}

.create-container .thumbnail-box .thumbnail img {
  object-fit: cover;
  object-position: center;
}


.create-container .gallary {
  padding-top: 10px;
  width: calc(100vw - 60px);
  max-width: 440px;
  height: 40px;
}

.create-container .img-icon {
  width: 110px;
  height: 30px;
  color: var(--text-sub-color);
  border: 1px solid var(--text-sub-color);
  border-radius: 15px;
  font-size: 0.9rem;
  line-height: 30px;
}

.create-container #review-upload-input {
  display: none;
}

.create-container .review-textarea {
  margin-bottom: 30px;
  width: calc(100vw - 60px);
  max-width: 440px;
  padding: 0px 30px;
  border: 0px solid #000;
}

.el-textarea__inner {
  background-color: transparent !important;
}

.el-textarea__inner {
  box-shadow: none !important;
}